# .dockerignore

# Version Control
.git
.dvc
.gitignore
.dvcignore

# Python/Environment
__pycache__
*.pyc
.venv/
.pytest_cache/
logs/

# Keep excluding most data
data/
notebooks/
tests/

# But specifically INCLUDE these required files
!data/processed/*.joblib

# README
README.md