apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090  # Or host.docker.internal if Prometheus is on Windows
    isDefault: true
    uid: PBFA97CFB590B2093