apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-api
  namespace: fraud-detection
  labels:
    app: fraud-api
spec:
  replicas: 2  # <--- THE MAGIC. We want 2 copies running always.
  selector:
    matchLabels:
      app: fraud-api
  template:
    metadata:
      labels:
        app: fraud-api
    spec:
      containers:
      - name: api
        image: fraud-detection-api:latest # Uses the image we loaded
        imagePullPolicy: IfNotPresent    # <--- CRITICAL: Don't try to download from internet!
        ports:
        - containerPort: 8000
        
        # 1. Inject ConfigMap
        envFrom:
        - configMapRef:
            name: fraud-api-config
            
        # 2. THE 20% SAFETY NET: Resource Limits
        # Prevents your API from eating all laptop RAM and crashing Minikube
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
            
        # 3. Health Checks (Liveness/Readiness)
        # K8s won't send traffic until this passes!
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 10