apiVersion: apps/v1
kind: Deployment
metadata:
  name: fraud-api
  namespace: fraud-detection
  labels:
    app: fraud-api
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fraud-api
  template:
    metadata:
      labels:
        app: fraud-api
    spec:
      containers:
      - name: api
        image: fraud-api:v22
        imagePullPolicy: Never
        ports:
        - containerPort: 8000
        
        env:
        - name: PREFECT_API_URL
          value: http://prefect-server-service:4200/api
        - name: MLFLOW_TRACKING_URI
          value: http://mlflow:5000
        - name: MLFLOW_S3_ENDPOINT_URL
          value: http://minio:9000
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: MINIO_ROOT_USER
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: minio-secret
              key: MINIO_ROOT_PASSWORD
        
        envFrom:
        - configMapRef:
            name: fraud-api-config
        
        resources:
          requests:
            cpu: 250m
            memory: 512Mi
          limits:
            cpu: 500m
            memory: 1Gi
        
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        
        volumeMounts:
        - name: fraud-data
          mountPath: /app/models
          subPath: models
        - name: fraud-data
          mountPath: /app/data
          subPath: data
      
      volumes:
      - name: fraud-data
        persistentVolumeClaim:
          claimName: fraud-data-pvc