apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fraud-data-pvc
  namespace: fraud-detection
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi # Space for CSVs and Models