# k8s/base/mlflow-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: fraud-detection
  labels:
    app: mlflow
    component: tracking-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: custom-mlflow:v2
          imagePullPolicy: Never
          
          args:
            - --backend-store-uri
            - postgresql://mlflow:mlflow123@postgres:5432/mlflow_db
            - --default-artifact-root
            - s3://mlflow-artifacts
            - --host
            - 0.0.0.0
            - --port
            - "5000"
            - --allowed-hosts
            - "*"
          
          env:
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: MINIO_ROOT_USER
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: minio-secret
                  key: MINIO_ROOT_PASSWORD
            - name: MLFLOW_S3_ENDPOINT_URL
              value: http://minio:9000
          
          ports:
            - containerPort: 5000
              name: http
          
          readinessProbe:
            httpGet:
              path: /health
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 5
          
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "1Gi"            # INCREASED from 512Mi to 1Gi
              cpu: "500m"